:root {
	/* marges : */
  --margeDeLaPage: 100px;
  --espaceEntreLesBlocs : 100px;

  /* couleurs */
  --couleurTitre :rgb(255, 255, 255);
  --couleurDuTexte : rgb(255, 255, 255);
  --couleurFond : rgb(42, 22, 76);

  /* dimension des blocs */
  --largeurPremierBloc : 400px;
  --largeurAside : 250px;


  /* taille des textes :  */
  --fontsizeGlobal : 16px;
  --fontSizeH1 : 30px;
  --fontSizeH2 : 20px;
}

@font-face{
	font-family: "typo";
	src: url(../hussar-bold-web-edition-font/misc/HussarBoldWeb-bf92.woff) format("woff");
}

html{
	font-size: var(--fontsizeGlobal);
 height: 100vh;
 overflow-y: hidden;
 display: flex;
 background-color: var(--couleurFond);
 color: var(--couleurDuTexte);
}

*{
	box-sizing: border-box;
}

header{
	width: var(--largeurPremierBloc);
	background-color: rgb(33, 0, 61);
}

aside{
	width: var(--largeurAside)
}

h1{
	font-family:"typo";
	color: var(--couleurTitre);
	font-size: var(--fontSizeH1);
	font-style: initial;
	margin-bottom: 10px;
}

h2{
	color: var(--couleurTitre);
	font-size: var(--fontSizeH2);
	font-style: initial;
	margin-bottom: 10px;
}

body{
	display: flex;
	height: 100%;
	padding: var(--margeDeLaPage);
	position: relative;
}

body>*{
	margin-right: var(--espaceEntreLesBlocs);
}

.galerie_horizontale{
	  width: auto;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.galerie_horizontale>*{
	  width: auto;
  height: 30%;
  position: relative;
}

.fullPage{
	height: 100vh;
	position: relative;
	top: calc( var(--margeDeLaPage)* -1 );
}

figure,video{
	height: 100%;
	width: auto;
}

figcaption{
	text-align: center;
	font-style:italic ;
}


/* canvas{display: none;} */

.premier{
	background-color: rgb(33, 0, 61); 
}

#test{
	color: rgb(255, 255, 255);
}

